p img {
				max-width: 100%;
				height: auto;
			}
			.mui-bar{
				    position: absolute;
				}
			.mui-content-padded {
				background: #FFFFFF;
			}
			.title {
				color: #000000;
				margin-left: 10px;
				font-weight: 500;
				font-size: 18px;
				margin-top: 0px;
			}
			.mui-bar-nav~.mui-content {
				padding-top: 23px;
			}
			.mui-content-padded p {
				padding: 10px;
				padding-top: 0px;
				margin-top: 0px;
				margin-bottom: 0px;
				padding-bottom: 1px;
			}
			.mui-content-padded {
				padding-top: 2px;
				margin-top: 0px;
			}
			.log-content:first-child{
				/*padding-top: 30px;*/
			}
			.pages {
				background-color: rgba(0, 0, 0, 0);
				width: 65%;
				margin: 0 auto;
			}
			.mui-table-view{
				margin-top: 39px;
			}
				text-align: center;
				width: 76% !important;
				color: #FFFFFF;
			}
			.mui-bar, .mui-bar-nav {
				background: #18B4ED !important;
			}
			.mui-bar .mui-icon {
				color: #FFFFFF;
			}
			#content{
				padding-top: 0px;
				}