<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>侃侃而谈</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
 		<!--标准mui.css-->
		<link rel="stylesheet" href="src/css/mui.min.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="src/css/app.css" />
		<link rel="stylesheet" href="src/css/talk.css" />
		<script src="src/js/mui.min.js"></script>
		<script type="text/javascript" src="src/js/jquery.min.js"></script>
		<script type="text/javascript" src="src/js/angular.js"></script>
		<script type="text/javascript" src="src/js/angular.js"></script>
		<script type="text/javascript" src="lib/js/config.js"></script>
		<script>
			mui.init({
				swipeBack: false //启用右滑关闭功能
			});
		</script>
	</head>
	<body ng-app="myApp" ng-controller="talkCtrl">
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" href="inner.html"></a>
			<h1 class="mui-title"></h1>
		</header>
		<ul class="mui-table-view head">
			<li class=" mui-table-view-cell cell">
				<a class="blue-line-wrapper ">
					<div class="blue-line "></div>
					<span class="mui-pull-right inner-org-name ">侃侃而谈</span>
					<a class="ask mui-pull-right" href="my-ask.html"> 
						<span class="my">我的提问</span>
						<img class="ask-pic" src="src/img/ask.png" />
					</a>
				</a>
			</li>
		</ul>
  			<div class="mui-input-row mui-search">
				<a href="#ask"><input type="text" id="que" class="mui-input-clear" placeholder="我要提问" ></a>
			</div>
			<div class="mui-content all">
				<div class="mui-content-padded">
					<ul class="mui-table-view" ng-repeat="mesg in mesgs" >
						<li class="mui-table-view-cell" ng-repeat="repl in mesg.Replies">
							<img ng-src="http://community.new.ncuhome.cn{{repl.HeadPic}}" class="iconpic mui-pull-left">
							<div class="mui-pull-right left-part"></div>
							<span class="user-name mui-pull-left" ng-cloak>{{repl.UserName}}</span>
							<span class="time mui-pull-left" ng-cloak>{{repl.Time}}</span>
							<div class="mui-clearfix"></div>
							<p ng-cloak>
								{{repl.Content}}
								<a class="entr" entr-directive messageid={{mesg.MessageId}}>回复</a>
							</p>
						</li>
					</ul>
  				</div>
			</div>
 		<div id="ask" class="mui-modal">
				<header class="mui-bar mui-bar-nav">
					<a class="mui-icon mui-icon-close mui-pull-right" href="#ask"></a>
					<h1 class="mui-title">我要提问</h1>
				</header>
				<div class="mui-content text-block" style="height: 100%;">
					<div class="mui-input-row" >
					<textarea id="textarea" rows="5" placeholder="我来提个问"></textarea>
                    <button class="sub" ask-directive>提交</button>
				</div>
				</div>
			</div>
			<div id="reply" class="mui-modal">
				<header class="mui-bar mui-bar-nav">
					<a class="mui-icon mui-icon-close mui-pull-right" href="#reply"></a>
					<h1 class="mui-title">回复</h1>
				</header>
				<div class="mui-content text-block" style="height: 100%;">
					<div class="mui-input-row" >
					<textarea id="textarea1" rows="5" placeholder="回复对话"></textarea>
                    <button class="sub" answer-directive>提交</button>
				</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="lib/js/controller.js"></script>
		<script type="text/javascript" src="lib/js/function.js"></script>
        <script type="text/javascript" src="lib/js/directive.js"></script>
	</body>
</html>