.mui-control-content {
	background-color: white;
	min-height: 600px;
}
.mui-control-content .mui-loading {
	margin-top: 50px;
}
.iconpic {
	width: 30px !important;
	float: left;
	display: inline-block;
	margin-right: 8px;
}
.org-name {
	float: left;
	line-height: 30px !important;
}
footer h6 {
	text-align: center;
}
.mui-search .mui-placeholder .mui-icon {
	float: right;
}
.mui-table-view-cell {
	display: block;
}
.mui-control-item {
	color: #4CBEEF !important;
	background-color: #FBFBFB;
}
.mui-segmented-control .mui-control-item {
	line-height: 38px;
	display: table-cell;
	overflow: hidden;
	width: 1%;
	-webkit-transition: background-color .1s linear;
	transition: background-color .1s linear;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #18B4ED;
	border-color: #18B4ED;
	border-left: 1px solid #18B4ED;
}
.mui-table-view a:nth-child(2n) {
	background-color: #FBFBFB;
}
.mui-table-view a:nth-child(2n+1) {
	background-color: #FFFFFF;
}
.mui-bar,
.mui-bar-nav {
	background-color: #18B4ED;
}
.mui-bar h1 {
	color: #FFFFFF !important;
}
.mui-icon {
	color: #FFFFFF !important;
}
.mui-search .mui-placeholder {
	color: #FFFFFF !important;
}
.mui-search .mui-placeholder .mui-icon {
	color: #FFFFFF !important;
}
#headtitle {
	color: #FFFFFF;
}
.mui-search {
	color: #FFFFFF;
}
.mui-search {
	width: 90%;
}
button {
	position: absolute;
	top: 6px;
	right: 19px;
	display: inline-block;
	width: 25px;
	height: 22px;
	border: 0px;
	background-color: transparent;
}
.mui-btn.mui-active:enabled,
.mui-btn:enabled:active,
button.mui-active:enabled,
button:enabled:active,
input[type=button].mui-active:enabled,
input[type=button]:enabled:active,
input[type=reset].mui-active:enabled,
input[type=reset]:enabled:active,
input[type=submit].mui-active:enabled,
input[type=submit]:enabled:active {
	/*color: ;*/
	
	background-color: transparent;
}
.button-icon {
	position: absolute;
	top: 4px;
	width: 22px;
	height: 21px;
}
#nav-open-button {} .prove {
	width: 50px;
	height: 107px;
	position: absolute;
	right: 0px;
	top: 44px;
	z-index: 10;
	overflow: hidden;
}
.article img {
	width: 21px;
	padding: 2px;
	margin-right: 3px;
	padding-top: 3px;
	float: left;
}
.prove a {
	display: block;
	/* padding: 0px; */
	
	margin: 0px;
	text-align: center;
	color: #272636;
	padding: 4px;
	border-bottom: 1px solid #CCC;
}
.prove a:last-child {
	border-bottom: 0px;
}
.prove input {
	width: 100%;
}
#account {} .login-form {
	width: 250px;
	margin: 0 auto;
}
.login-logo {
	width: 117px;
	height: 117px;
	margin: 0 auto;
	margin-top: 84px;
	margin-bottom: 17px;
	border: 9px solid #18B4ED;
	border-radius: 64px;
}
.login-logo img {
	width: 100px;
	margin: 0 auto;
	background: #FFFFFF;
	border: 10px solid #AADAF2;
	border-radius: 63px;
}
.mui-search .mui-placeholder .mui-icon {
	float: left;
	padding-left: 16px;
	padding-top: 11px;
}
#login {
	position: inherit;
	background-color: #3879D9;
	height: 43px;
	line-height: 0px;
}
.link-area {
	width: 152px;
	margin: 0 auto;
	color: #3879D9;
}
.link-area a {
	color: #FFFFFF;
}
.link-area p {
	font-size: 20px;
	color: lightpink;
}
.bubble {
	margin: 0px auto;
	width: 320px;
}
.demo {
	position: relative;
}
.triangle {
	width: 10px;
	height: 10px;
}
.triangle img {
	position: absolute;
	z-index: 99;
	right: 9px;
	top: -23px;
}
.demo .article {
	float: left;
	z-index: 999;
	position: absolute;
	right: 6px;
	top: 10px;
	color: #FFF;
	display: inline-block;
	zoom: 1;
	padding: 3px 6px;
	border: 1px solid #CCCCCC;
	background: #eee;
	border-radius: 5px;
	background-color: #fff;
}
.article a:focus,
.article a:active {} 

.mui-search{
	position: relative;
}

.search{
	position: absolute;
	left: 5px;
	top: 25%;
}

.active{
	background: #b2b2b2;
	opacity: 0.1;
	color: #007aff !important;
}