p img {
				max-width: 100%;
				height: auto;
			}
			.mui-content-padded {
				background: #FFFFFF;
			}
			.title {
				color: #000000;
				margin-left: 10px;
				font-weight: 500;
				font-size: 18px;
				margin-top: 0px;
			}
			.mui-bar-nav~.mui-content {
				padding-top: 23px;
			}
			.mui-content-padded p {
				padding: 10px;
				padding-top: 0px;
				margin-top: 0px;
				margin-bottom: 0px;
				padding-bottom: 1px;
			}
			.mui-content-padded {
				padding-top: 2px;
				margin-top: 0px;
			}
			.log-content:first-child {
				padding-top: 30px;
			}
			.pages {
				background-color: rgba(0, 0, 0, 0);
				width: 65%;
				margin: 0 auto;
			}
			.mui-table-view {
				/* width: 93.5%; */
				
				
			}
			.mui-bar {
				position: absolute;
			}
			.mui-table-view {
				/*width: 93.5%;*/
				
				margin: 0 auto;
				/*margin-top: 40px;*/
				margin: 0 auto;
				margin-top: 40px;
				margin: 40px 10px 0px 10px;
			}
			.mui-content {
				padding-top: 0px !important;
			}
			.poster {
				width: 102px;
				float: left;
				margin: 10px;
			}
			.right-intr {
				float: left;
			}
			.right-intr {
				font-size: 16px;
			}
			.right-intr p:first-child {
				margin-top: 10px;
			}
			.right-intr p:nth-child(2n) {
				color: #18B4ED;
			}
			.bottom-intr p:first-child {
				color: #18B4ED;
			}
			.bottom-intr p:last-child {
				padding-bottom: 8px;
			}
			.mui-title {
				text-align: center;
				width: 76% !important;
				color: #FFFFFF;
			}
			header {
				background: #18B4ED !important;
			}
			.mui-bar .mui-icon {
				color: #FFFFFF;
			}